.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-content: start;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.pagination button {
  background-color: var(--textLightGray);
  border: 1px solid var(--textLightGray);
  color: black;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.pagination button:hover,
.pagination button:focus {
  background-color: var(--textLightGray);
  transform: scale(-2px);
}
.pagination button.activePage {
  background-color: var(--buttonColorLight);
  color: var(--textLightGray);
  border-color: var(--buttonColorLight);
}

.bookingCode {
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .container {
    height: auto;
    align-items: start;
  }
  .bookingCode {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}
