.component {
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 2.2rem;
}

.loginLink {
  width: 100%;
  height: 50px;
  padding: 1rem;
  border: none;
  background-color: var(--buttonColorDark);
  color: var(--textLightGray);
  border-radius: 5px;
  font-weight: bold;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

.loginLink:hover {
  background-color: var(--buttonColorLight);
  scale: 1;
}

@media (max-width: 1000px) {
  .component {
    min-height: auto;
  }
}
